body {
	background-color: #efefef;
}

::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #dad1f9;  
}

.modal-form{
	left: 0%;
	height:100vh;
	background-color: #000000;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	font-size: 200%;
}

.modal-form .modal-input{
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 2px solid white;
	text-align: center;
	padding-top: 60px;
}

.modal-form .modal-button{
	padding-bottom: 100px;
	background: none;
	border: none;
	margin: none;
	padding: 0px;
	font-family: 'Helvetica';
	font-size: 300%;
}

.footer{
	visibility: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	left: 0%;
	background-color: SeaGreen;
	padding-top: 15px;
	padding-left: 8px;
}

.footer .chatInput {
	height: 70%;
	width: 89%;
	float: left;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px; 
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	text-indent: 10px;
	background-color: MediumSeaGreen;
	box-shadow: none;
	outline: none;
	border:0px;
	color: white;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 100%
}

.footer input::-webkit-input-placeholder{
	color: white;
}

.footer .chatSubmit {
	background-color: #39ac6b;
	color: white;
	width: 10%;
	height: 70%;
	margin-left: 0.3%;
	top: 15px;
	right: 25px;
	border-radius: 15px;
	outline: none;
	box-shadow: none;
	border: 0px;
	font-weight: bold;
	font-size: 100%
	padding-left: 50px;
}

.footer .chatSubmit:hover{
	background-color: #E6DEDC;
	color: #000000;
}

.messages {
	list-style-type: none;
	width: 90%;
	padding-bottom: 60px;
}

.messages .mySpace{
	background-color: #E6DEDC;
	margin-bottom: 10px;
	border-radius: 5px;
}

.messages .yourSpace{
	background-color: #2d8653;
	margin-bottom: 10px;
	border-radius: 5px;
}

.messages .foreign{
	width: 100%;
	height: 50px;
	display: inline;
	padding-left: -2em;
	white-space:pre-wrap;
	word-wrap: break-word;
	position: relative;
	background-color: #2d8653;
	font-family: 'Helvetica';
	font-weight: bold;
	color: white;
}

.messages .local{
	width: 100%;
	height: 50px;
	display: inline;
	padding-left: -2em;
	white-space:pre-wrap;
	word-wrap: break-word;
	position: relative;
	background-color: #E6DEDC;
	color: 'black';
	font-family: 'Helvetica';
	font-weight: bold;
}